<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>纯真年代-页面不存在</title><meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="bookmark" href="/favicon.ico" />
		<link rel="stylesheet" href="../plugins/layui/css/layui.css" />
		<style>
			#tips{
				text-align: center;
			}
			.layui-icon-404{
				color: #6b0000;
				display: inline-block;
				font-size: 400px;
			}
			#tips a{
				text-decoration: underline;
				color: #6b0000;
			}
		</style>
	</head>
	<body>
		
		<div id="tips">
			<i class="layui-icon layui-icon-404"></i>
			<p><a href="/"> 返回首页 </a></p>
			<p style="display: none;">{*err*}</p>
		</div>
		
	</body>
</html>
