<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>关于本站~{* webBaseInfo.data.sitename *}</title>
		<meta name="keywords" content="{* webBaseInfo.data.keywords *}" />
		<meta name="description" content="{* webBaseInfo.data.descript *}" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="bookmark" href="/favicon.ico" />
		<link rel="stylesheet" href="../css/layui.css" />
		<link rel="stylesheet" href="../css/web/common.css?v=2.0" />
		<link rel="stylesheet" href="../css/web/about.css?v=2.0" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 8]>
		<script type="text/javascript" src="plugins/ace/js/buttons.html5.min.js" ></script>
		<script type="text/javascript" src="plugins/ace/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header class="myheader animated top">
			<!-- 底部信息 -->
			{(header_main.html)}
		</header>
		<div class="content">
			<!-- 关于 -->
			<div class="layui-container mycontent">
				<div class="layui-row">
					<div class="layui-col-md12 layui-col-sm12 layui-col-xs12 content-left">
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
							<legend><strong>关于博客</strong></legend>
						</fieldset>
						<div class="about">
							<p class="title">
								一款JAVA的个人博客，记录学习、生活、人生路
							</p>
							<p class="yunxing">
								<span class="show-title">快速链接</span>
								<span class="jiesao">
									<a href="https://gitee.com/yy1122/the_age_of_innocence_blog.git" target="_blank" style="color:#D5492A;text-decoration:underline;">码云项目直达车(最新时间:2018-10-13)</a>
									&nbsp;&nbsp;<a href="../admin/login.html" target="_blank" style="color:#FF0000;text-decoration:underline;">后台直达车</a>
									&nbsp;&nbsp;<a href="https://fly.layui.com/case/2018/" target="_blank" style="color:#FF0000;text-decoration:underline;">Layui案例直达车</a>
									&nbsp;&nbsp;<a href="https://www.bblog.vip/public_resource" target="_blank" style="color:#D5492A;text-decoration:underline;">本站静态资源</a>
									&nbsp;&nbsp;<a href="https://blog.csdn.net/qq_33396608" target="_blank" style="color:#D5492A;text-decoration:underline;">我的SCDN</a>
								</span>
								<span class="show-title">博客前台</span>
								<span class="jiesao">
									采用Layui开发，网上冲浪的时候看到了layui，感觉不错。博客也参考了大佬们的案例，利用OpenResty页面渲染、与后端数据交互等
								</span>
								<span class="show-title">博客后台</span>
								<span class="jiesao">
									采用spring boot开发，Oauth2验证鉴权，json进行交互，redis缓存，Restful接口风格。
								</span>
								<span class="jiesao">
									目前阿里云部署的是 注册中心、路由中心、WEB前端，加上mysql
                                 </span>
								<span class="jiesao">
                                    腾讯云部署的是 认证中心，后台管理中心（其实块可以分开，后台管理和用户中心），文件中心。像监控中心、配置中心...没部署（占内存）
								</span>
								<span class="show-title">后端UI</span>
								<span class="jiesao">
									也是采用的Layui，希望layui的2.x的富文本编辑器早点出来，目前用的是WangEditor。我前后台的一些js写得没那些人那么高端，大家看到了别笑
								</span>
							</p>
							<p class="time">本站已苟活：<span id="yunxing"></span></p>
							<strong style="position: absolute;bottom: 0;left: 0;right: 0;text-align: center;height: 30px;line-height: 30px;">The End</strong>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部信息 -->
		{(footer.html)}
		<ul class="layui-fixbar">
			<li class="layui-icon layui-fixbar-top" lay-type="top" style="display: list-item;">&#xe604;</li>
		</ul>
	</body>
	<script type="text/javascript" src="../layui.js"></script>
	<script type="text/javascript" src="../lay/system/public.js?v=2.0" ></script>
	<script type="text/javascript" src="../lay/system/web/about.js"></script>

</html>