<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{* article_details.title *}~{* webBaseInfo.data.sitename *}</title>
		<meta name="keywords" content="{* webBaseInfo.data.keywords *}" />
		<meta name="description" content="{* webBaseInfo.data.descript *}" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="bookmark" href="/favicon.ico" />
		<link rel="stylesheet" href="../css/viewer/viewer.min.css" />
		<link rel="stylesheet" href="../css/layui.css" />
		<link rel="stylesheet" href="../css/web/common.css?v=2.0" />
		<link rel="stylesheet" href="../css/web/article_detail.css?v=2.1" />
		<link rel="stylesheet" href="../css/wangEditor/wangEditor.css?v=2.0" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 8]>
		<script type="text/javascript" src="plugins/ace/js/buttons.html5.min.js" ></script>
		<script type="text/javascript" src="plugins/ace/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header class="myheader animated top">
			<!-- 底部信息 -->
			{(header_main.html)}
		</header>
		<div class="content">
			<!-- 帖子 -->
			<div class="layui-container mycontent">
				<div class="layui-row">
					<div class="layui-col-md8 layui-col-sm8 layui-col-xs12 content-left">
						<p class="intitle"><b>您现在的位置是：</b>
							<a href="/index">首页</a>
							>
							<a href="#">{* article_details.title *}</a>
						</p>
						<hr class="layui-bg-red">
						<div class="article_detail" id="article_detail">
							<h2 class="title" id="article_id" article_id="{* article_details.id *}">{* article_details.title *}</h2>
							<!-- 文章的一些基本信息 -->
							<p>
								<a title="作者"><i class="layui-icon">&#xe612;</i>{* article_details.nickname *}</a>
								<a title="发布时间"><i class="layui-icon">&#xe60e;</i>{* article_details.createtime *}</a>
								<span>
									<a title="评论量" href="#comment_editor"><i class="layui-icon">&#xe606;</i>{* article_details.comPv *}</a>
									<a title="点击量" href="#comment">共<b>{* article_details.pv *}</b>人围观</a>
								</span>
								<a class="layui-clear"></a>
							</p>
							<!-- 文章主题内容 -->
							<div class="article_content">
								{* article_details.content *}
							</div>
                            <!-- 上一篇，下一篇 -->
							<div id="nextinfo" class="nextinfo">
								<p>上一篇：
								{% if article_details.pre~=ngx.null then %}
									<a href="/article_detail/{* article_details.pre.id *}">{* article_details.pre.title *}</a>
								{% else %}
								<a class="layui-unselect"><i class="layui-icon layui-icon-face-smile" style="font-size: 16px; color: #FF5722;"></i> 没有了哟！</a>
								{% end %}
								</p>
								<p>下一篇：
								{% if article_details.next~=ngx.null then %}
									<a href="/article_detail/{* article_details.next.id *}">{* article_details.next.title *}</a>
								{% else %}
									<a class="layui-unselect"><i class="layui-icon layui-icon-face-smile" style="font-size: 16px; color: #FF5722;"></i> 没有了哟！</a>
								{% end %}
								</p>
							</div>
                            <!--google广告-->
                            <div>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                 style="display:block; text-align:center;"
                                 data-ad-layout="in-article"
                                 data-ad-format="fluid"
                                 data-ad-client="ca-pub-8186665406720470"
                                 data-ad-slot="5864285839"></ins>
                            <script>
                                 (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            </div>
							<!-- 评论模块 -->
							<div id="comment_editor" class="comment_editor">
								<textarea placeholder="评论内容" id="article_editor" name="content" class="layui-textarea  article_editor" style=" height: 150px; "></textarea>
							</div>
							<button class="layui-btn layui-btn-danger layui-submit layui-unselect">提交评论</button>
							<a class="layui-clear"></a>
						</div>
						<!-- 评论回复 -->
						<strong class="layui-unselect">全部评论</strong>
						<hr class="layui-bg-red">
						<!-- 评论回复列表 -->
						<div id="comment" class="comment">
							<ul id="comment_list">
								
							</ul>
						</div>
					</div>
					<!-- 右边模块 -->
					{(right_aside.html)}
				</div>
			</div>
		</div>
		<!-- 底部信息 -->
		{(footer.html)}
		<ul class="layui-fixbar">
			<li class="layui-icon layui-fixbar-top" lay-type="top" style="display: list-item;">&#xe604;</li>
		</ul>
	</body>
	<script type="text/javascript" src="../lay/system/web/viewer/viewer.min.js" ></script>
	<script type="text/javascript" src="../layui.js"></script>
	<script type="text/javascript" src="../lay/system/public.js?v=2.0" ></script>
	<script type="text/javascript" src="../lay/system/web/article_detail.js?v=2.0"></script>
	<script>
		var viewer = new Viewer(document.getElementById('article_detail'));
	</script>
</html>