<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>文章归档列表~{* webBaseInfo.data.sitename *}</title>
		<meta name="keywords" content="{* webBaseInfo.data.keywords *}" />
		<meta name="description" content="{* webBaseInfo.data.descript *}" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="bookmark" href="/favicon.ico" />
		<link rel="stylesheet" href="../plugins/layui/css/layui.css" />
		<link rel="stylesheet" href="../css/web/common.css" />
		<link rel="stylesheet" href="../css/web/article_list/article_list.css" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 8]>
		<script type="text/javascript" src="plugins/ace/js/buttons.html5.min.js" ></script>
		<script type="text/javascript" src="plugins/ace/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header class="myheader animated top">
			<!-- 底部信息 -->
			{(header_main.html)}
		</header>
		<div class="content">
			<!-- 帖子 -->
			<div class="layui-container mycontent">
				<div class="layui-row">
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
						<legend><strong>纯真年代(triedblog)</strong> 目前共有文章： <b id="article_nums">0</b> 篇 </legend>
					</fieldset>
					<div class="layui-col-md8 layui-col-sm8 layui-col-xs12 content-left">
						<h4 class="open-all layui-unselect" id="open-all">展开所有月份</h4>
						<div class="layui-collapse">
							{% for i = 1, #blogArticleTimes do local t = blogArticleTimes[i] %}
							<div class="layui-colla-item">
								<h2 class="layui-colla-title layui-unselect">{* t.name *}</h2>
								<div class="layui-colla-content">
									<ul>
										{% for j = 1, #t.data do local t1 = t.data[j] %}
										<li><span>{* string.sub(t1.createtime,9,10) *}日{* string.sub(t1.createtime,12,16) *}:</span>
											<a target="_blank" href="/article_detail/{* t1.id *}" title="{* t1.title *}">{* t1.title *}</a>
											<span title="评论数量">({* t1.pv *}浏览量)</span>
										</li>
										{% end %}
									</ul>
								</div>
							</div>
							{% end %}
							<strong style="position: absolute;bottom: 0;left: 0;right: 0;text-align: center;line-height: 30px;">The End</strong>
						</div>
					</div>
					<!-- 右边模块 -->
					{(right_aside.html)}
				</div>
			</div>
		</div>
		<!-- 底部信息 -->
		{(footer.html)}
		<ul class="layui-fixbar">
			<li class="layui-icon layui-fixbar-top" lay-type="top" style="display: list-item;">&#xe604;</li>
		</ul>
	</body>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../js/web/article_list/article_list.js" ></script>

</html>