<footer class="footer">
	<div class="footavatar">
		<img src="../images/my/login.jpg" class="footphoto">
		<ul class="footinfo">
			<p class="fname">
				<a href="javascript:;">纯真年代</a>
			</p>
			<p class="finfo">性别：^_^ 年龄：^_^</p>
			<p>现居：重庆</p>
		</ul>
	</div>
	{% if(is_this_index ~= 'about') then %}
	
	<div class="recentuser layui-hide-xs" id="foot_recentuser">
		<p>最近访客</p>
		<ul>
			{% for i = 1, #recentUsers.data do local t = recentUsers.data[i] %}
			<li>
				<img src="{* t.figureurlQq1 *}" alt="{* t.nickname *}" title="{* t.nickname *}" />
				<div class="recent_nickname">{* t.nickname *}</div>
			</li>
			{% end %}
		</ul>
	</div>
	
	{%end%}
	<div class="info">
		<p>承认现实生活中的不足之处，并通过自己的努力去弥补这种不足</p>
		<span>
								<a>© 2018 纯真年代-博客</a>
							</span>
		<span>
										<a href="http://www.miitbeian.gov.cn" target="_blank">{* webBaseInfo.data.copyright *}</a>
							</span>
		<span class="no-right-border">
								<a href="../admin/login.html" target="_blank">后台登录</a>
							</span>
		<span class="layui-clear no-right-border"></span>
	</div>
</footer>